*

!.gitignore
!README.md
!docker-compose.yml
!install.sh

!api/
!api/**
!video/
!video/**
!web/
!web/**
!docker/
!docker/**
!data/
!data/**

node_modules/
vendor/
storage/
.env
.env.backup-*
@eaDir/
**/@eaDir/
*.pdf
